apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: true

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: true

  - name: Forecast Postgres
    type: postgres
    access: proxy
    url: forecast-postgres:5432
    database: forecast
    user: forecast
    secureJsonData:
      password: forecast
    jsonData:
      sslmode: disable
      timescaledb: false
    editable: true
